/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.processing {
    background: #00000052;
    width: 100vw;
    height: 100vw;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
}

.processing img {
    color: white;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    resize: both;
    overflow: auto;
    width:100px;
}
  

#payment-option {
    padding: 0 1em;
}
#payment-option p {
    padding: 10px;
}

.ccpsearchpanel {
    padding: 30px;
    background: #eeeeee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.redastrix {
    color: red;
}